@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* dark 02 */
.text-gray {
  color: #424242;
}

/* dark 03 */
.text-light-gray {
  color: #727272;
  line-height: 26px;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.text-white {
  color: #ffffff;
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 500;
}

/* shared styles */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.main > section {
  margin-top: 130px;
}
/* header styles */
header {
  background-color: rgba(255, 144, 14, 0.1);
}
/* navbar styles */

.navbar {
  justify-content: space-between;
}
.logo {
  font-weight: 700;
  font-size: 2.81rem;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-item a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: bold;
}
.banner-image {
  width: 100%;
  margin-bottom: 45px;
}
.main {
  margin: 0 auto;
}

.architect-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.quick-feature {
  max-width: 535px;
  margin-left: 73px;
  justify-content: space-evenly;
  align-items: start;
  gap: 32px;
}
.quick-feature h3 {
  font-size: 2.8rem;
  margin: 0;
}

#quick-list {
  font-weight: 500;
}

#Features {
  color: #ff900e;
}

/* feature you will enjoy section styles*/
.features {
  gap: 145px;
  margin: 0 auto;
  max-width: 1440px;
}
.features .title {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}
.feature-card {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}
.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}
.experience-badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  margin-left: -100px;
  margin-top: -100px;
}
.experience-badge .years {
  font-size: 4rem;
  font-weight: 700;
}
.feature-architect img {
  width: 100%;
}
/* section some facts stylels */
.some-facts {
  max-width: 1440px;
  margin: 0 auto;
}
.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 124px;
}
.fact-card {
  border: 1px solid #ff900e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 45px;
  border-radius: 8px;
}
.fact-text {
  max-width: 540px;
}
.fact-text .title {
  font-size: 1.8rem;
  font-weight: bold;
}
.fact-card .number {
  font-size: 1.8rem;
  font-weight: 600;
}
.fact-card p {
  font-size: 1.25rem;
  font-weight: 600;
}
/* sponsors section style  */
.sponsors {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.sponsors-info {
  max-width: 542px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsors-info .title {
  font-size: 1.8rem;
  font-weight: bold;
}
.sponsors-info p {
  text-align: center;
}
.sponsor-img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 155px;
}
.sponsor-img img {
  filter: grayscale(100%);
}
/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .quick-list,
  .features,
  .sponsors {
    flex-direction: column;
  }
  .nav-links {
    gap: 10px;
  }
  .architect-images {
    grid-template-columns: 1fr;
  }
  .quick-feature {
    margin: 30px 15px;
  }
  .experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
  .fact-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .sponsor-img {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
/* footer styles  */

.rights {
  max-width: 1440px;
  height: 100px;
  background-color: rgba(255, 244, 231, 1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 130px;
  border-radius: 8px;
}
/* mediam size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .quick-list,
  .features {
    flex-direction: column;
    gap: 50px;
  }
  .experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
  .fact-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .sponsor-img {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
